name: test

on:
  push:
    branches:    
      - 'feature/**'
      - 'fix/**'
      - 'hotfix/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/workflows/check_available